Final Version/.tooling/emailserverd45f9b5e-0b2e-44bd-868d-d758bed8d251/emailserver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b5fff84-c93e-41c6-8d56-ea3cac691b93">
		<http:listener-connection host="localhost" port="3000" />
	</http:listener-config>
	<flow name="emailserverFlow" doc:id="4ff5b95a-98d0-4ced-860c-749ff1b8c0af" >
		<http:listener doc:name="Listener" doc:id="08eb62c6-c8bd-4f1d-87a4-53253d5f174c" config-ref="HTTP_Listener_config" path="/login"/>
		<logger level="INFO" doc:name="Logger" doc:id="f546fb39-e816-4377-b0c2-c5ace62c25d7" message="#[payload]"/>
	</flow>
</mule>
