Final Version/.tooling/emailserver174a91e5-2576-45aa-bced-11dfe7c43703/emailserver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4b5fff84-c93e-41c6-8d56-ea3cac691b93">
		<http:listener-connection host="localhost" port="3001" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="37e7a0ba-6513-43d6-9808-fdf9af979faa" basePath="/Users_">
		<http:request-connection host="localhost" port="3000" />
	</http:request-config>
	<flow name="usernameCheckFlow" doc:id="4ff5b95a-98d0-4ced-860c-749ff1b8c0af" >
		<http:listener doc:name="Listener" doc:id="08eb62c6-c8bd-4f1d-87a4-53253d5f174c" config-ref="HTTP_Listener_config" path="/login" outputMimeType="application/json"/>
		<set-variable doc:name="username" doc:id="b7550fe0-d0f9-431f-b204-601114d1fdbb" variableName="username" mimeType="application/json" value='#[payload.Username]'/>
		<set-variable value="#[payload.Password]" doc:name="password" doc:id="172210cb-5ac2-4a85-bd54-09f1c2c50ca7" variableName="password" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="f546fb39-e816-4377-b0c2-c5ace62c25d7" message="#[vars.username]" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="35ff9610-aa8f-4689-b5f8-0ff3e6eb40f1" mimeType="application/json"/>
	</flow>
	<flow name="passwordCheckFlow" doc:id="996d3d96-e79f-4340-9321-35e7a47ccc29" >
		<http:listener doc:name="Listener" doc:id="6718203c-ee0c-43aa-87a7-3d2ce92e27ef" config-ref="HTTP_Listener_config" path="/validPassword"/>
	</flow>
</mule>
